Screen {
    background: $surface-darken-1;
}

#data-container {
    height: 33%
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    dock: left;
}

CsvPlotter.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

DataTable {
    width: auto;
}

AutoComplete {
    height: auto;
    width: 100%;
    align-horizontal: center;
}

Dropdown {
    width: 100%;
}

#plot-settings {
    min-height: 10;
}
